/* ----------------------------------------------------------- */
/* Styles for Body */
/* ----------------------------------------------------------- */
.navbar-fixed { z-index: 9999; }
#sidenav-overlay { z-index: 1; }






/* ----------------------------------------------------------- */
/* Styles for Leaflet API */
/* ----------------------------------------------------------- */
#mapid { 
    margin-top: 10px;
    height: 400px;
    width: 500px; 
}

/* ----------------------------------------------------------- */
/* End of Leaflet API Styles */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Styles for Zomato API */
/* ----------------------------------------------------------- */
.restaurantCard {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid;
    border-color: black;
    padding: 10px;
    margin-bottom: 10px;
}

#restName {
    font-size: 1.5em;
}

.restAddress, .restCuisine, .restCost {
    font-size: .8em;
}

/* ----------------------------------------------------------- */
/* Endfor Zomato API */
/* ----------------------------------------------------------- */