/* ----------------------------------------------------------- */
/* Styles for Body */
/* ----------------------------------------------------------- */
.navbar-fixed { z-index: 9999; }
#sidenav-overlay { z-index: 1; }

#logo-container {
    font-family: 'Courgette', cursive;
}
body.disableOutline *:focus{
    outline: none !important;
}

/* ----------------------------------------------------------- */
/* Padding for the Date field */
/* ----------------------------------------------------------- */
#daterange {
    padding-top: 10px;
}
/* ----------------------------------------------------------- */
/* End of style for Date field */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Styles for Leaflet API */
/* ----------------------------------------------------------- */
#mapid { 
    /* margin-top: 5px; */
    height: 300px;
}

/* ----------------------------------------------------------- */
/* End of Leaflet API Styles */
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Styles for Zomato API & Evenbrite API */
/* ----------------------------------------------------------- */
.restaurantCard, .eventsCard {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border-bottom: 1px solid; */
    /* border-color: black; */
    /* padding: 5px; */
    /* margin-bottom: 5px; */
}

#eventName, #resname {
    /* font-size: 1.5em; */
    color: #D81B60;
    font-family: 'Courgette', cursive;
}

#eventName {
    text-align: left;
    text-overflow: ellipsis;
}

.restAddress, .restCuisine, .restCost, .eventStart {
    /* font-size: .8em; */
    font-family: 'Open Sans', sans-serif;
}

.modalName {
    font-size: 1.5em;
}

.fav {
    color: #26a69a;
}

.fav:hover {
    cursor: cell;
}

.resname, .eventName {
    color: #D81B60;

.favorited {
    color: gold;
}

#listlen {
    display:block;
        min-height:50px;
        max-height: 400px;
        overflow: auto;

    background-color:#ad1457;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
        
}

.collection-header {
    font-family: 'Courgette', cursive;
    text-align: center;
    text-underline-position: below;
    background-color: #D81B60;
    color: white;
}



/* ----------------------------------------------------------- */
/* Endfor Zomato API & Eventbrite API*/
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* Styles for about and contacts */
/* ----------------------------------------------------------- */

#titles {
    color: white;
    font-family: 'Courgette', cursive;
    text-align: center;
}

#about {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    /* font-size: 1.2em; */
}

