.restaurantCard {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid;
    border-color: black;
    padding: 10px;
    margin-bottom: 10px;
}

#restName {
    font-size: 1em;
}

.restAddress, .restCuisine, .restCost {
    font-size: .8em;
}

